<h1>Astronauts</h1>
<h3>Average Age: <%= @average_age %></h3>
<ul>
  <% @astronauts.each do |astro| %>
    <li>
      <%= astro.name %>
      <%= astro.age %>
      <%= astro.job %>

      <ul>
       <li>Missions</li>
      </ul>
      <%= astro.space_missions.all.order(:title).each do |mission|%>
        <li>
          mission.title
        </li>
        <% end %>
    </li>
</ul>
<p>Total Trip Length <%= astro.space_missions.sum(:trip_length) %></p>
<% end %>

